.menu {
    /* height: 100%; */
    background-color: rgba(172, 198, 196, 0.48);
}
.playground {
    background-color: rgba(97, 221, 158, 0.63);
    border: #3937C5 solid 7px;
    border-radius: 9px;
    padding: 0;
}
.topscores {
    background-color: rgba(172, 198, 196, 0.48);

}

.main {
    height: 550px;
}

.main * {
    height: 100%;
}

.brick {
    height: 50px;
    background-color: rgb(255, 82, 0);
    border-color: rgb(0, 0, 0);
    border-radius: 11px;
    border-width: 6px;
    border-style: double;
    float: left;
}


.box {
    width: 137px;
    height: 10px;
    position: relative;
    margin: 0;
    background-color: rgb(53, 27, 82);
    border-radius: 11px;
    top: 470px;
    left: 38%;
}


.ball {
    height: 28px;
    position: absolute;
    /* position: relative; */
    /* margin: 0; */
    /* border-radius: 11px; */
    /* top: 450px; */
    /* left: 38%; */
    /* z-index: 66; */
}


body img{
        /* width: 50px; */
        position: relative;
}